<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Climate-Dashboard</title>

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Bring in my own stylesheet -->
  <link rel="stylesheet" href="Style-sheet.css" media="screen">

</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
      
    <!-- Mars data -->
        <div class="row" >
            <div class="col-md-12">
                <div class="box"> 
                    <div class="page-header">
                        <h1 class="title"><strong>Latest Mars News</strong></h1>
                        <h4 class="heading"><strong>{{mars.news_title}}</strong></h4>
                        <p class="category">{{mars.news_p}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h1><strong>Featured Mars Image</strong></h1>
                <img class="img-responsive" src="{{mars.featured_image_url}}" alt="Featured Mars Image">
            </div>
        
            <div class="col-md-4">
                <div class="boxed">
                    <h3><strong>Current Weather on Mars</strong></h3>
                    <h5>{{mars.mars_weather}}</h5>
                </div>
            </div>   
            <br>
                    <h3><strong>Mars Facts</strong></h3>
                        <div class="content table-responsive">
                            <table class="table table-bordered table-inverse">
                                <tr>
                                    <th>Mars_planet_profile</th>
                                    <th>Value</th>
                                </tr>

                                {% for t in mars.mars_facts %}
                                    <tr>
                                        {% for i in t %}
                                            <td>{{i}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                           
                        </div>
        </div>   
        <div class="row">
            <div class="col-md-12">
                <h1 class="center-block"><strong>Mars Hemispheres</strong></h1>
            </div>
        </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="box">
                        <div class="content">
                        {% for i in range(0,4) %}
                            <img class="img-thumbnail" src="{{mars.mars_hemisphere[i].image_url}}" alt="Hemisphere Enhanced-i">
                            <h3><strong>{{mars.mars_hemisphere[i].title}}</strong></h3>
                        {% endfor %}
                        </div>                       
                    </div>    
                </div>
            </div>
           
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>

</html>
